# Database
DATABASE_URI=postgresql://USER:PASSWORD@db:5432/trakinagemcine
DB_NAME=trakinagemcine
DB_USER=
DB_PASSWORD=

# Payload CMS
PAYLOAD_SECRET=

# Site
NEXT_PUBLIC_SITE_URL=https://trakinagemcine.com.br

# Node
NODE_ENV=production
